*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
hs_err_pid*

# Package Files #
*.jar
*.war
*.ear

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Gradle ###
.gradle
/build/
# Ignore Gradle GUI config
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Cache of project
.gradletasknamecache


# Eclipse
.classpath
.project
.settings
.recommenders
.metadata

# Backups
*.bak
*.backup
*~
.#*
\#*

# Databases and Fuseki
/run/
DB*
Files/

## Developement files
*.dlt
config.ttl
D.trig
D.ttl
D.nt
Q.rq
U.ru
C?
